.navbar{
    border-bottom: 1px solid #c1adff;
}

.navbar ul li:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: goldenrod;
    transition: 0.5s;
    border-radius: 50px;
}
.navbar ul li:hover:after{
    width: 100%;
}